.header__logout-button {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #E5261E;
    cursor: pointer;
}

.header__logout-button:hover {
    color: #CC221B;
}