.footer__text-item {
    margin: 22px 0 10px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 495px) {
    .footer__text-item {
        margin: 15px 0 5px;
        font-size: 12px;
    }
}