.channel__logo {
  object-fit: none;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .channel__logo {
    width: 250px;
    height: 140px;
  }
}

@media screen and (max-width: 680px) {
  .channel__logo {
    height: 100px;
  }
}
