.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-icon.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    top: -40px;
    right: -40px;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .popup__close {
        top: -50px;
        right: -18px;
    }
}